body{
    font-family:"Roboto";
}

.word-wrapper{
    background: black;
    background-color: black;
    color: white;
    display: inline-flexbox;
    flex-direction: column;
    width : 50px;
}

.word-wrapper a{
    text-decoration:none;
    color: white;
    background: black;
    background-color: black;
    padding: 20px;
    margin-top: 5px;
    float:right;
    }

p{
    text-align: end;
}

h1{
    float:left;
}


h2{
    text-align: center;
    color: white;
}

h4{
    text-align: center;
    color: white;
}

.shows{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: center;
    border: 1px solid #eee;
    margin: auto;
    padding: 10vh;
}

.read{
    padding: 7vh;

}


.shows .list-group{
    margin: auto;
    text-align: left;
    background: white;
}

.shows .list-group-item{
    text-align: left;
    background: white;
    border: none;
    font-size: 10pt;
}

.shows img{
    width: 15vw;
    height: 10vw;
    margin-bottom:10px;
}

a{
    text-decoration:none;
    color: white;
    background: black;
    background-color: black;
    padding: 20px;
    margin-top: 5px;

}

.list-group{
    padding-left: 100px;
    margin-top: 50px;
}

.list-group-item{
    background: black;
    background-color:black;
    color: white;

}

#button{
    background-color: #ff9900; 
    color: white;   
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20x; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    text-align: center;
    text-decoration: none;
    align-items: center;
    width: 7vw;
    height: 5vh;
    margin-right: auto;
    margin-left: auto;
}




.footer a{
    color: white;
    text-align: left;
}

.row-wrapper{
    
    color:black;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  
}

.row .bg-blk img{
    border: 20px solid black;
}